html,
body {
padding:0.5em;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  outline: none;
  position: relative;
  z-index: 1;
}

a img {
  border: none;
}

h2,
h4 {
  margin: 0;
  padding: 0;
}

#top {
  position: relative;
  width: 100%;
  background-color: none;
  text-align: center;
  margin-bottom: 2em;
  border-top: none;
  color: #a6a6a6;
  font-family: 'r-lt', sans-serif;
  font-weight: normal;
  font-size: 20px;
}

#brands {
  position: relative;
  width: 80%;
  height: 15px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

#top img#logo {
  position: relative;
  margin: auto;
  width: auto;
  margin-bottom: 3em;
}

#top h2 {
  font-family: 'r-th', sans-serif;
  font-weight: normal;
  color: #444;
  font-size: 28px;
  padding-bottom: 8px;
}

#repositories {
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  vertical-align: top;
}

.biglink {
  vertical-align: top;
  width: 250px;
  margin-right: 0px;
}

.biglink {
	
  display: inline-block;
  margin: 2em;
  font-family: 'l-lt', sans-serif;
  font-size: 18px;
  color: #8b8b8b;
}

.biglink a {
  color: #8b8b8b;
}

.biglink a:hover {
  color: #e53b30;
}

.biglink h4 {
  font-family: 'r-lt', sans-serif;
  font-weight: normal;
  color: #272727;
  font-size: 20px;
  padding-top: .6em;
}

.biglink a:hover {
  opacity: 0.65;
}

.biglink h4 {
  opacity: inherit;
}
.small img{

	width:120px;
}
.small{
		margin-top:3em;
}


@media only screen and (max-width : 650px) {
	body{
		zoom:0.5; /* oh jeez */
		padding:0;
	}
.biglink{
padding:0;
margin:0;
}

}