@font-face {
    font-family: 'r-lt';
    src: url('r-lt.eot');
    src: url('r-lt.eot?#iefix') format('embedded-opentype'),
         url('r-lt.woff') format('woff'),
         url('r-lt.ttf') format('truetype'),
         url('r-lt.svg#r-lt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'r-th';
    src: url('r-th.eot');
    src: url('r-th.eot?#iefix') format('embedded-opentype'),
         url('r-th.woff') format('woff'),
         url('r-th.ttf') format('truetype'),
         url('r-th.svg#r-th') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oct';
    src: url('oct.eot');
    src: url('oct.eot?#iefix') format('embedded-opentype'),
         url('oct.woff') format('woff'),
         url('oct.ttf') format('truetype'),
         url('oct.svg#oct') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'l-lt';
    src: url('l-lt.eot');
    src: url('l-lt.eot?#iefix') format('embedded-opentype'),
         url('l-lt.woff') format('woff'),
         url('l-lt.ttf') format('truetype'),
         url('l-lt.svg#l-lt') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
	-webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    outline: none;
    position: relative;
    z-index: 1;
}

a img {
    border: none;
}

table, h1, h2, h3, h4, h5, ul, li, form {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

#top {
	position: relative;
	width: 100%;
	background-color: none;
	text-align: center;
	height: 430px;
	border-top: none;
	color: #a6a6a6;
	font-family: 'r-lt', sans-serif;
	font-weight: normal;
	font-size: 20px;
}

#top p {
	margin: 0px;
	padding: 0px;
	line-height: 35px;
}

#top a {
	margin: 0px;
	padding: 0px;
	color: #666666;
}

#brands {
	position: relative;
	width: 80%;
	height: 15px;
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

a#sierra-wireless {
	position: absolute;
	top: 20px;
	left: 0px;
}

#top h1 {
	position: relative;
	margin: auto;
	width: 400px;
	height: 117px;
	text-indent: -9000px;
	background: url('legato_gitHub.png') top left no-repeat;
	margin-bottom: 25px;
}

#top h2 {
	font-family: 'r-th', sans-serif;
	font-weight: normal;
	color: #444;
	font-size: 28px;
	padding-bottom: 8px;
}

#h3 {
	font-family: 'r-th', sans-serif;
	font-weight: normal;
	color: #444;
	font-size: 28px;
	padding-bottom: 8px;
}
top links {
	font-family: 'r-th', sans-serif;
	font-weight: normal;
	color: #444;
	font-size: 28px;
	}
	
#repositories {
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}

#repositories h3 {
	font-family: 'r-th', sans-serif;
	font-weight: normal;
	color: #000;
	font-size: 24px;
	display: block;
	height: 60px;
	padding-top: 35px;
	position: center;
	padding-right: 250px;
}

#repositories h3:before {
	position: absolute;
	top: 42px;
	left: 500px;
	font-family: 'oct';
	font-weight: normal;
	color: #444;
	font-size: 24px;
	content: '\0061';
}

.repository, .repository_s {

	width: 250px;
	margin-right: 0px;
}

.repository {
	display:inline-block;
	height: 400px;
	font-family: 'l-lt', sans-serif;
	font-size: 18px;
	color: #8b8b8b;
}

.repository a {
	color: #8b8b8b;
}

.repository a:hover {
	color: #e53b30;
}

.repository p {
	padding: 0px;
	margin: 0px;
	padding-top: 26px;
	font-size: 16px;
}

.repository .repositoryLinks {
	position: absolute;
	top: 205px;
	left: 0px;
	font-size: 15px;
}

.repository .repositoryLinks a {
	color: #e53b30;
}

.repository h4 {
	font-family: 'r-lt', sans-serif;
	font-weight: normal;
	color: #272727;
	font-size: 18px;
	padding-top: 20px;
}


.repository_s {
	height: 230px;
}

.right {
	margin-right: 0px;
}

