/*******************
 *     GLOBAL     *
 *******************/

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'os_lt';
    src: url('../fonts/os_lt.eot');
    src: url('../fonts/os_lt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os_lt.woff') format('woff'),
		 url('../fonts/os_lt.woff2') format('woff2'),
         url('../fonts/os_lt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'os_rg';
    src: url('../fonts/os_rg.eot');
    src: url('../fonts/os_rg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os_rg.woff') format('woff'),
		 url('../fonts/os_rg.woff2') format('woff2'),
         url('../fonts/os_rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'os_lt', arial, sans-serif;
	text-rendering: optimizeLegibility;
	background-color: #fff;
	color: #666;
}

a {
    text-decoration: none;
    outline: none;
    position: relative;
    z-index: 1;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

a img {
    border: none;
}

table, h1, h2, h3, h4, h5, ul, li, form {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}


/*******************
 *       TOP       *
 *******************/
 
#top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	height: 50px;
}

.wrapper.homepage #top {
	background-color: #fff;
	height: 100px;
}

.wrapper.documentation #top {
	background-color: #e53b30;
}

.wrapper.downloads #top {
	background-color: #006892;
}

.wrapper.community #top {
	background-color: #666;
}

.wrapper.prototyping-tools #top {
	background-color: #a09b25;
}

header {
	position: relative;
}

header h1 a {
    position: absolute;
    left: 205px;
    text-indent: -9000px;
    top: 14px;
    width: 100px;
    height: 82px;
    background: url("../images/legato_logo-white.png") no-repeat 0px 0px;
    background-size: 100px;
	border: none;
}

.wrapper.homepage #top header h1 a {
	top: 29px;
    width: 200px;
	left: 150px;
    background: url("../images/legato_logo.png") no-repeat 0px 0px;
    background-size: 200px;
}

nav {
	position: absolute;
	top: -23px;
	right: 100px;
	height: 50px;
	padding-top: 35px;	
}

nav a {
	font-family: 'os_rg', arial, sans-serif;
	height: 26px;
	text-transform: uppercase;
	color: rgba(255,255,255,0.50);
	font-size: 13px; 
	padding: 9px 20px 15px 20px; 
	border-bottom: 2px solid transparent;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

nav a:hover, nav a.link-selected {
	border-bottom: 2px solid rgba(255,255,255,0.75);
	color: rgba(255,255,255,0.75);
}

.wrapper.homepage nav {
	position: absolute;
	top: 25px;
	right: 100px;
	height: 50px;
	padding-top: 35px;	
}

.wrapper.homepage nav a {
	font-family: 'os_rg', arial, sans-serif;
	height: 50px;
	text-transform: uppercase;
	color: rgba(0,0,0,0.75);
	font-size: 13px; 
	padding: 9px 20px 18px 20px; 
	border-bottom: 2px solid transparent;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.wrapper.homepage nav a:hover, .wrapper.homepage nav a.link-selected {
	border-bottom: 2px solid rgba(0,0,0,0.5);
	color: rgba(0,0,0,0.5);
}

#topMenu {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	z-index: 900;
	height: 100px;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.wrapper.documentation #topMenu {
	background-color: #b32d25;
}

.wrapper.downloads #topMenu {
	background-color: #004966;
}

.wrapper.community #topMenu {
	background-color: #333;
}

.wrapper.prototyping-tools #topMenu {
	background-color: #6e6b19;
}


#topMenu h2 {
	font-family: 'os_lt', arial, sans-serif;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
	padding-left: 205px;
	padding-top: 15px;
}

#topMenu nav {
	position: absolute;
	top: 25px;
	left: 190px;
	height: 50px;
	padding-top: 35px;	
}

#topMenu nav a {
	font-family: 'os_rg', arial, sans-serif;
	height: 50px;
	text-transform: uppercase;
	color: rgba(255,255,255,0.75);
	font-size: 13px; 
	padding: 9px 20px 18px 20px; 
	border-bottom: 2px solid transparent;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#topMenu nav a:hover, #topMenu nav a.link-selected {
	border-bottom: 2px solid #fff;
	color: rgba(255,255,255,1);
}

/*******************
 *      LEFT       *
 *******************/
 
#left {
	position: fixed;
	top: 0;
	left: 0;
	width: 150px;
	z-index: 500;
	height: 100%;
	padding: 175px 30px 150px 30px;
	font-size: 13px;
	background: url('../images/legato_logo-grey.png') no-repeat 64px 72px #fff;
	background-size: 72px;
}



/*******************
 *     CONTENT     *
 *******************/

.content {
	position: relative;
	padding-top: 175px;
	padding-left: 250px;
	padding-right: 150px;
	font-family: 'os_lt', arial, sans-serif;
	background-color: #f9f9f9;
	padding-bottom: 50px;
}

.wrapper.homepage .content {
	padding-top: 150px;
	padding-left: 200px;
}

.content h2 {
	font-family: 'os_lt', arial, sans-serif;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,0.75);
	padding-bottom: 15px;
}

.content h3 {
	font-family: 'os_rg', arial, sans-serif;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1.0);
	padding-bottom: 25px;
}

.docsWidget {
	position: relative;
	float: left;
	width: 20%;
	padding-right: 25px;
}

.docsWidget h4 {
	font-family: 'os_rg', arial, sans-serif;
	font-weight: normal;
	font-size: 24px;
	display: block;
	height: 40px;
	margin-bottom: 10px;
}

.docsWidget.red h4 a {
	border-left: 2px solid #e53b30;
	color: #e53b30;
	padding-left: 25px;
	padding-bottom: 10px;
    padding-top: 10px;
}

.docsWidget.blue h4 a {
	border-left: 2px solid #006892;
	color: #006892;
	padding-left: 25px;
	padding-bottom: 10px;
    padding-top: 10px;
}

.docsWidget.grey h4 a {
	border-left: 2px solid #666;
	color: #666;
	padding-left: 25px;
	padding-bottom: 10px;
    padding-top: 10px;
}

.docsWidget.green h4 a {
	border-left: 2px solid #a09b25;
	color: #a09b25;
	padding-left: 25px;
	padding-bottom: 10px;
    padding-top: 10px;
}


.docsWidget.red a:hover {
	color: #e53b30;
}

.docsWidget.blue a:hover {
	color: #006892;
}

.docsWidget.grey a:hover {
	color: #666;
}

.docsWidget.green a:hover {
	color: #a09b25;
}

.docsWidget a {
	display: block;
	padding-left: 27px;
	padding-top: 15px;
	color: #666;
}



/*******************
 *     FOOTER      *
 *******************/
 
#footer {
	position: relative;
	width: 80%;
	padding-left: 250px;
	background-color: #FFF;
	padding-top: 25px;
	padding-bottom: 25px;
}

.wrapper.homepage #footer {
	padding-left: 200px;
}
 
