/*******************
 *     GLOBAL     *
 *******************/

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'o_bd';
    src: url('../fonts/o_bd.eot');
    src: url('../fonts/o_bd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/o_bd.woff') format('woff'),
		 url('../fonts/o_bd.woff2') format('woff2'),
         url('../fonts/o_bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'o_db';
    src: url('../fonts/o_db.eot');
    src: url('../fonts/o_db.eot?#iefix') format('embedded-opentype'),
         url('../fonts/o_db.woff') format('woff'),
		 url('../fonts/o_db.woff2') format('woff2'),
         url('../fonts/o_db.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'o_md';
    src: url('../fonts/o_md.eot');
    src: url('../fonts/o_md.eot?#iefix') format('embedded-opentype'),
         url('../fonts/o_md.woff') format('woff'),
		 url('../fonts/o_md.woff2') format('woff2'),
         url('../fonts/o_md.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'o_rg';
    src: url('../fonts/o_rg.eot');
    src: url('../fonts/o_rg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/o_rg.woff') format('woff'),
		 url('../fonts/o_rg.woff2') format('woff2'),
         url('../fonts/o_rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'o_lt';
    src: url('../fonts/o_lt.eot');
    src: url('../fonts/o_lt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/o_lt.woff') format('woff'),
		 url('../fonts/o_lt.woff2') format('woff2'),
         url('../fonts/o_lt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'os_rg';
    src: url('../fonts/os_rg.eot');
    src: url('../fonts/os_rg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os_rg.woff') format('woff'),
		 url('../fonts/os_rg.woff2') format('woff2'),
         url('../fonts/os_rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'os_lt';
    src: url('../fonts/os_lt.eot');
    src: url('../fonts/os_lt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os_lt.woff') format('woff'),
		 url('../fonts/os_lt.woff2') format('woff2'),
         url('../fonts/os_lt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'os_eb';
    src: url('../fonts/os_eb.eot');
    src: url('../fonts/os_eb.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os_eb.woff') format('woff'),
		 url('../fonts/os_eb.woff2') format('woff2'),
         url('../fonts/os_eb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'os_bd';
    src: url('../fonts/os_bd.eot');
    src: url('../fonts/os_bd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os_bd.woff') format('woff'),
		 url('../fonts/os_bd.woff2') format('woff2'),
         url('../fonts/os_bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'm_rg';
    src: url('../fonts/m_rg.eot');
    src: url('../fonts/m_rg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/m_rg.woff') format('woff'),
		 url('../fonts/m_rg.woff2') format('woff2'),
         url('../fonts/m_rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pg';
    src: url('../fonts/pg.eot');
    src: url('../fonts/pg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pg.woff') format('woff'),
		 url('../fonts/pg.woff2') format('woff2'),
         url('../fonts/pg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'm_bd';
    src: url('../fonts/m_bd.eot');
    src: url('../fonts/m_bd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/m_bd.woff') format('woff'),
		 url('../fonts/m_bd.woff2') format('woff2'),
         url('../fonts/m_bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'm_lt';
    src: url('../fonts/m_lt.eot');
    src: url('../fonts/m_lt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/m_lt.woff') format('woff'),
		 url('../fonts/m_lt.woff2') format('woff2'),
         url('../fonts/m_lt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	color: rgb(120,120,120);
	text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    outline: none;
    position: relative;
    z-index: 1;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

a img {
    border: none;
}

table, h1, h2, h3, h4, h5, ul, li, form {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}


/******************
 *     COMMON     *
 ******************/

div.wrapper {
    position: relative;
    z-index: 1;
}

.red {
	color: #f6343f;
}
.redBg {
	background-color: #f6343f;
}

.purple {
	color: #aa4e9e;
}
.purpleBg {
	background-color: #aa4e9e;
}

.blue {
	color: #1688e1;
}
.blueBg {
	background-color: #1688e1;
}

.darkblue {
	color: #005ca7;
}
.darkblueBg {
	background-color: #005ca7;
}

.white {
	color: #FFF;
}
.whiteBg {
	background-color: #FFF;
}

.darkgrey {
	color: #3a3a3a;
}

.lightgrey {
	color: #c4c4c4;
}

.superlightgrey {
	background-color: #f5f5f5;
}

.ultralightgrey {
	background-color: #fafafa;
}

.eighty {
	position: relative;
	width: 80%;
	margin: 0 auto;
}

div.headline {
	position: relative;
	width: 100%;
	height: 200px;
	text-align: right;
}

div.headline h2 {
	font-family: 'o_lt';
	color: rgba(255,255,255,0.5);
	text-transform: uppercase;
	padding-top: 110px;
	font-size: 5em;
}

div.content {
	position: relative;
	width: 100%;
	background: #f5f5f5;
	padding: 75px 0 100px;
	font-size: 1.3em;
}

div.content h3 {
	font-family: 'm_lt';
	text-transform: uppercase;
	font-size: 1.5em;
}

/******************
 *      TOP       *
 ******************/

#menu-trigger {
	display: block;
    position: fixed;
    top: 25px;
    right: 4%;
    color: #FFF;
    font-size: 24px;
    z-index: 15;
}

#menu-trigger.trigger-open {
	color: #000;
}

#top {
	position: fixed;
	top: 0px;
	right: -108px;
	width: 108px;
	z-index: 1000;
	height: 100%;
	background-color: #FFF;
	z-index: 3;
	transition: right 1s ease-in-out;
	-moz-transition: right 1s ease-in-out;
	-webkit-transition: right 1s ease-in-out;
}
	
#top.menu-open {
	right: 0px;
}

header {
	margin: auto;
	position: relative;
	width: 92%; /*1024 display standard version*/
}

header h1 a {
    position: absolute;
    left: 0px;
    text-indent: -9000px;
    top: 19px;
    width: 100px;
    height: 82px;
    background: url("../img/mangoh_logo.png") no-repeat 0px 0px;
    background-size: 100px;
	border: none;
}

nav {
    position: absolute;
    right: 0px;
	top: 28px; 
}

nav a {
	color: rgb(247,120,30);
	font-size: 16px; 
	padding: 9px 30px 28px 30px; 
	border-bottom: 3px solid transparent;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

nav a:hover {
	border-bottom: 3px solid #fff;
}

nav a.link-selected {
	padding: 9px 30px 28px 30px; 
	color: rgb(135,181,39);
	border-bottom: 3px solid rgb(135,181,39);
}
	
	#top header {
		width: auto;
		padding-top: 75px;
	}
	
	#top nav {
		position: static;
	}
	
	nav a {
		font-size: 11px;
    	padding: 9px 0 15px 20px;
	}
	
	nav a.link-selected {
		padding: 9px 0 15px 20px;
		color: rgb(135,181,39);
		border-bottom: 3px solid #FFF;
	}
	
	#top h1 {
		text-align: center;
	}
	
	#top h1 a {
		position: absolute;
		top: 0px;
		left: 21px;
		background-size: 100%;
		background-position: center;
		width: auto;
		width: 50px;
		text-align: center;
	}
	
	#top a {
		display: block;
	}

.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}


/**********************
 *       Slides       *
 **********************/

#slides h2 {
	font-family: 'o_rg';
	color: #FFF;
	letter-spacing: -4px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
}

#slides h4 {
	font-family: 'm_rg';
	color: #FFF;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 30px;
	margin-top: -25px;
	line-height: 30px;
}

/**********************
 *       Footer       *
 **********************/
 
div.footer {
	font-size: 1.2em;
	color: #FFF;
	height: 400px;
}

.copyrights {
	font-size: 0.8em;
	color: #FFF;
	width: 310px;
	float: left;
}

.copyrights h3 {
	width: 75px;
	top: 0px;
	height: 140px;
	background: url("../images/tuc_logo_white.png") no-repeat;
	background-size: 100%;
	overflow: hidden;
	position: relative;
	text-indent: -9000px;
	opacity: 0.5;
}

.footerLinksContainer {
	float: right;
}

div.footer .footerLinks {
	float: left;
	color: #FFF;
	font-size: 0.7vw;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 60px;
}

div.footer .footerLinks a {
	color: #FFF;
}

div.footer .footerLinks h3 {
	font-size: 0.9vw;
	font-family: 'm_bd';
	text-transform: uppercase;
}

div.footer .footerLinks ul {
	float: left;
	width: 33%;
	padding-right: 40px;
}

div.footer .footerLinks li {
	line-height: 20px;
	white-space: nowrap;
}
