/*******************
 *     GLOBAL     *
 *******************/

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'rm_bd';
    src: url('../fonts/rm_bd.eot');
    src: url('../fonts/rm_bd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rm_bd.woff') format('woff'),
		 url('../fonts/rm_bd.woff2') format('woff2'),
         url('../fonts/rm_bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rm_md';
    src: url('../fonts/rm_md.eot');
    src: url('../fonts/rm_md.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rm_md.woff') format('woff'),
		 url('../fonts/rm_md.woff2') format('woff2'),
         url('../fonts/rm_md.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rm_rg';
    src: url('../fonts/rm_rg.eot');
    src: url('../fonts/rm_rg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rm_rg.woff') format('woff'),
		 url('../fonts/rm_rg.woff2') format('woff2'),
         url('../fonts/rm_rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rm_lt';
    src: url('../fonts/rm_lt.eot');
    src: url('../fonts/rm_lt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rm_lt.woff') format('woff'),
		 url('../fonts/rm_lt.woff2') format('woff2'),
         url('../fonts/rm_lt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rm_th';
    src: url('../fonts/rm_th.eot');
    src: url('../fonts/rm_th.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rm_th.woff') format('woff'),
		 url('../fonts/rm_th.woff2') format('woff2'),
         url('../fonts/rm_th.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'os_rg';
    src: url('../fonts/os_rg.eot');
    src: url('../fonts/os_rg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os_rg.woff') format('woff'),
		 url('../fonts/os_rg.woff2') format('woff2'),
         url('../fonts/os_rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'os_lt';
    src: url('../fonts/os_lt.eot');
    src: url('../fonts/os_lt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os_lt.woff') format('woff'),
		 url('../fonts/os_lt.woff2') format('woff2'),
         url('../fonts/os_lt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'os_eb';
    src: url('../fonts/os_eb.eot');
    src: url('../fonts/os_eb.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os_eb.woff') format('woff'),
		 url('../fonts/os_eb.woff2') format('woff2'),
         url('../fonts/os_eb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'os_bd';
    src: url('../fonts/os_bd.eot');
    src: url('../fonts/os_bd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os_bd.woff') format('woff'),
		 url('../fonts/os_bd.woff2') format('woff2'),
         url('../fonts/os_bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'm_rg';
    src: url('../fonts/m_rg.eot');
    src: url('../fonts/m_rg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/m_rg.woff') format('woff'),
		 url('../fonts/m_rg.woff2') format('woff2'),
         url('../fonts/m_rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pg';
    src: url('../fonts/pg.eot');
    src: url('../fonts/pg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pg.woff') format('woff'),
		 url('../fonts/pg.woff2') format('woff2'),
         url('../fonts/pg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'm_bd';
    src: url('../fonts/m_bd.eot');
    src: url('../fonts/m_bd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/m_bd.woff') format('woff'),
		 url('../fonts/m_bd.woff2') format('woff2'),
         url('../fonts/m_bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'm_lt';
    src: url('../fonts/m_lt.eot');
    src: url('../fonts/m_lt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/m_lt.woff') format('woff'),
		 url('../fonts/m_lt.woff2') format('woff2'),
         url('../fonts/m_lt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	color: rgb(120,120,120);
	text-rendering: optimizeLegibility;
	font-family: 'os_lt', arial, sans-serif;
	background-color: rgba(0,0,0,0.02);
}

a {
    text-decoration: none;
    outline: none;
    position: relative;
    z-index: 1;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

a img {
    border: none;
}

table, h1, h2, h3, h4, h5, ul, li, form {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}


/******************
 *     COMMON     *
 ******************/

div.wrapper {
    position: relative;
    z-index: 1;
}


/******************
 *      TOP       *
 ******************/

#menu-trigger {
	display: block;
    position: fixed;
    top: 3%;
    left: 4%;
    color: #FFF;
    font-size: 36px;
    z-index: 15;
}

#menu-trigger.trigger-open {
	color: #000;
}

#top {
	position: fixed;
	top: 0px;
	left: -250px;
	width: 250px;
	z-index: 1000;
	height: 100%;
	background-color: #FFF;
	z-index: 3;
	transition: left 1s ease-in-out;
	-moz-transition: left 1s ease-in-out;
	-webkit-transition: left 1s ease-in-out;
}
	
#top.menu-open {
	left: 0px;
}

#top header {
	margin: auto;
	position: relative;
	padding-top: 75px;
}

h1 a {
    position: absolute;
    right: 4%;
    text-indent: -9000px;
    top: 25px;
    width: 250px;
	height: 60px;
    background: url('../images/legato_logo.png') no-repeat 0px 0px;
    background-size: 250px;
	border: none;
	z-index: 100;
}

img.logo {
	position: absolute;
    top: 25px;
    left: 10%;
    z-index: 15;
}

nav {
    position: static;
    right: 0px;
	top: 28px;
	font-family: 'os_rg', arial, sans-serif;
}

nav a.navlink {
	color: #0077c9;
	font-size: 14px;
	text-transform: uppercase;
	padding: 15px 0px 5px 20px; 
	display: block;
	border-bottom: 3px solid transparent;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

nav a.subnavlink {
	color: rgba(0,0,0,0.5);
	font-size: 13px;
	text-transform: uppercase;
	padding: 0px 0 5px 40px; 
	display: block;
	border-bottom: 3px solid transparent;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

nav a:hover {
	border-bottom: 3px solid #fff;
}

.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.flexslider {
	height: 500px;
}

ul.slides {
	height: 500px;
	text-align: center;
}

li.slide_01 {
	background: url('../images/slide_02.jpg') center no-repeat;
	background-size: cover;
	height: 500px;
}
li.slide_02 {
	background: url('../images/slide_02.jpg') center no-repeat;
	background-size: cover;
	height: 500px;
}
li.slide_03 {
	background: url('../images/slide_03.jpg') center no-repeat;
	background-size: cover;
	height: 500px;
}

ul.slides h3 {
    font-family: 'rm_bd', arial, sans-serif;
    font-size: 48px;
    padding-top: 150px;
    color: #FFF;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

ul.slides h4 {
    font-family: 'os_rg', arial, sans-serif;
    font-size: 24px;
    color: #FFF;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	padding-bottom: 15px;
}

ul.slides a {
    margin-left: 12px;
    padding: 11px 22px 13px;
	text-transform: uppercase;
    line-height: 46px;
    color: #fff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: #0077c9;
	margin-top: 15px;
}

.content {
	padding: 0 15% 25px 15%;
}

.content h2 {
	font-family: 'rm_lt', arial, sans-serif;
	text-align: center;
	color: rgba(64,64,64,1.0);
	font-size: 36px;
}

div.usecases {
	position: relative;
	padding: 1% 14% 0 15%;
	background-color: white;
}

div.usecase {
	position: relative;
	float: left;
	width: 32%;
	margin-right: 1%;
	padding-bottom: 15px;
}

div.usecase a {
	display: block;
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
}

div.usecase h5 {
	font-family: 'rm_lt', arial, sans-serif;
	font-size: 18px;
    color: #0077c9;
}

div.usecase a.usecase01-bg {
	background: url('../images/slide_02.jpg') center no-repeat;
	background-size: cover;
}

div.usecase a.usecase02-bg {
	background: url('../images/slide_02.jpg') center no-repeat;
	background-size: cover;
}

div.usecase a.usecase03-bg {
	background: url('../images/slide_02.jpg') center no-repeat;
	background-size: cover;
}