@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,300italic,400,400italic,500,500italic,');

/*******************
 *     GLOBAL     *
 *******************/

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	color: rgb(120,120,120);
	text-rendering: optimizeLegibility;
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 400;
	background-color: #FFF;
}

a {
    text-decoration: none;
    outline: none;
    position: relative;
    z-index: 1;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	color: #F7781E;
}

a img {
    border: none;
}

table, h1, h2, h3, h4, h5, ul, li, form {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}


/******************
 *     COMMON     *
 ******************/

div.wrapper {
    position: relative;
    z-index: 1;
}


/******************
 *      TOP       *
 ******************/

#menu-trigger {
	display: block;
    position: fixed;
    top: 30px;
    left: 60px;
    color: #00687a;
    font-size: 36px;
    z-index: 1000;
}

#menu-trigger.documentation {
    top: 15px;
    left: 25px;
    font-size: 18px;
}

#menu-trigger.trigger-open {
	color: #00687a;
}

#top {
	position: fixed;
	top: 0px;
	left: -250px;
	width: 250px;
	z-index: 900;
	height: 100%;
	background-color: #FFF;
	transition: left 0.5s ease-in-out;
	-moz-transition: left 0.5s ease-in-out;
	-webkit-transition: left 0.5s ease-in-out;
}
	
#top.menu-open {
	left: 0px;
}

#top header {
	margin: auto;
	position: relative;
	padding-top: 75px;
}

#mainmenu {
    position: fixed;
	width: 100%;
	height: 100px;
    z-index: 10;
}

div#mainmenu.transparent {
	background-color: transparent;
}

div#mainmenu.white {
	background-color: white;
}

#mainmenu ul {
    position: absolute;
    top: 8px;
    right: 4%;
    height: 50px;
    padding-top: 25px;
}

#mainmenu ul li {
	display: inline-flex;
}

#mainmenu ul li a {
	display: inline-flex;
	color: black;
	padding: 0 20px;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 13px;
	padding: 9px 25px 39px 25px; 
	border-bottom: 2px solid transparent;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	margin-left: -4px;
}

#mainmenu ul li a:hover {
	border-bottom: 2px solid #F7781E;
	color: #F7781E;
}

#mainmenu ul li a.selected {
	border-bottom: 2px solid #00687a;
	color: #00687a;
}

#mainmenu h1 a {
    position: absolute;
    left: 150px;
    text-indent: -9000px;
    top: 29px;
    width: 200px;
	height: 60px;
    background: url('../images/legato_logo.png') no-repeat 0px 0px;
    background-size: 200px;
	border: none;
	z-index: 100;
}

img.logo {
	position: absolute;
    top: 25px;
    left: 10%;
    z-index: 15;
}

nav {
    position: static;
    right: 0px;
	top: 28px;
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 400;
}

nav a.navlink {
	color: #F7781E;
	font-size: 14px;
	text-transform: uppercase;
	padding: 15px 0px 5px 20px; 
	display: block;
	border-bottom: 3px solid transparent;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

nav a.subnavlink {
	color: rgba(0,0,0,0.5);
	font-size: 13px;
	text-transform: uppercase;
	padding: 0px 0 5px 40px; 
	display: block;
	border-bottom: 3px solid transparent;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

nav a:hover {
	border-bottom: 3px solid #fff;
}

#menudocumentation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 600;
	height: 50px;
}

#menudocumentation.teal {
	background-color: #00AEAF;
}


#menudocumentation.orange {
	background-color: #F7781E;
}

#menudocumentation header {
	position: relative;
}

#menudocumentation header h1 a {
    position: absolute;
    left: 70px;
    text-indent: -9000px;
    top: 14px;
    width: 100px;
    height: 82px;
    background: url("../images/legato_logo-teal.png") no-repeat 0px 0px;
    background-size: 100px;
	border: none;
}

#menudocumentation header h2 {
    position: absolute;
    left: 180px;
    top: 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
	font-size: 21px;
	color: #FFF;
	border: none;
	z-index: 100;
}

#menudocumentation nav {
	position: absolute;
	top: -23px;
	right: 100px;
	height: 50px;
	padding-top: 35px;
	color: #FFF;
}

#menudocumentation nav a {
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 400;
	height: 26px;
	text-transform: uppercase;
	color: #00414d;
	font-size: 13px; 
	padding: 9px 20px 15px 20px; 
	border-bottom: 2px solid transparent;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#menudocumentation nav a:hover, #menudocumentation nav a.link-selected {

}

.ui-autocomplete-loading { background:url('/resources/images/spinny.gif') no-repeat right center }

#searchresult .fa-search{
		font-size:1.4em;
	/*	 -webkit-animation: spin 0.25s infinite linear; */
}


@-webkit-keyframes spin {
	from {
		transform: rotate(0deg)
		           translate(-8px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-8px) 
		           rotate(-360deg);
	}
}

#menudocumentation nav input#autocomplete {
	background-color: transparent;
	border: none;
	border-bottom: white solid 2px;
	height: 1.5em;
	font-size:150%;
	padding-left: 15px;
	width: 12em;
	color:white;
}
#menudocumentation nav input#autocomplete:focus{
	outline: none;
}
/* shifted off screen for screen readers I guess */
.ui-helper-hidden-accessible { position: absolute; left:-999em; }

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
       opacity:  0.8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
       opacity:  0.8;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
       opacity:  0.8;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
       color: white;
       opacity:  0.8;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: white;
       opacity:  0.8;
}
#menudocumentation nav label {
	text-transform: uppercase;
	font-size: 11px;
	color: #00677A;
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 400;
}

#menudocumentation nav .ui-widget-content {
	border: none;
}

#menudocumentation nav ul#search_result {
	display: block;
    width: 200px;
    top: 55px;
    left: 425px;
    position: absolute;

	overflow: auto;
	    background:#FFF;
	    color:#00677A;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);

}

#menudocumentation nav ul#search_result a {
	
	font-size: 11px;
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 400;
	padding: 0px;
}
#menudocumentation nav ul#search_result a.ui-state-focus:before, #menudocumentation nav ul#search_result a:hover:before{
    content: "|";
    float: left;
    font-size: 2.5em;
}


#menudocumentation nav ul#search_result a li {
	padding: 5px 10px 5px 15px;
}

#menudocumentation nav a:hover, nav a.link-selected, nav a.ui-state-focus {
	border-bottom: 2px solid rgba(255,255,255,0.75);
	font-weight: bold;
    /* color: rgba(255,255,255,0.75); wtf? */ 
}

.wrapper.homepage nav {
	position: absolute;
	top: 25px;
	right: 100px;
	height: 50px;
	padding-top: 35px;	
}

.wrapper.homepage nav a {
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 400;
	height: 50px;
	text-transform: uppercase;
	color: #00677A;
	font-size: 13px; 
	padding: 9px 20px 18px 20px; 
	border-bottom: 2px solid transparent;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#topMenu {
	position: absolute;
	top: 0.8em;
	left: 0;
	width: 100%;
	z-index: 400;
	height: 100px;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

#topMenu.teal {
	background-color: #00677A;
}

#topMenu.orange {
	background-color: #b54b00;
}

#topMenu h2 {
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 300;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
	padding-left: 205px;
	padding-top: 15px;
}

#topMenu nav {
	position: absolute;
	top: 25px;
	left: 190px;
	height: 50px;
	padding-top: 35px;	
}

#topMenu nav a {
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 400;
	height: 50px;
	text-transform: uppercase;
	color: rgba(255,255,255,0.75);
	font-size: 13px; 
	padding: 9px 20px 18px 20px; 
	border-bottom: 2px solid transparent;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#topMenu nav a:hover, #topMenu nav a.link-selected {
	border-bottom: 2px solid #fff;
	color: rgba(255,255,255,1);
}

/*******************
 *      LEFT       *
 *******************/
 
#left {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	z-index: 200;
	height: 100%;
	padding: 175px 30px 150px 30px;
	font-size: 13px;
	background: url('../images/legato_logo-grey.png') no-repeat 64px 72px #fff;
	background-size: 72px;
}

.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.flexslider {
	height: 500px;
}

ul.slides {
	background: #00687a;
	height: 500px;
	text-align: center;
}

li.slide_01 {
	background: url('../images/slide_02.jpg') center no-repeat;
	background-size: cover;
	height: 500px;
}
li.slide_02 {
	background: url('../images/slide_02.jpg') center no-repeat;
	background-size: cover;
	height: 500px;
}
li.slide_03 {
	background: url('../images/slide_03.jpg') center no-repeat;
	background-size: cover;
	height: 500px;
}

ul.slides h3 {
    font-family: 'Roboto Mono', monospace;
	font-weight: 700;
    font-size: 48px;
    padding-top: 150px;
    color: #FFF;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

ul.slides h4 {
    font-family: 'Open Sans', arial, sans-serif;
	font-weight: 400;
    font-size: 24px;
    color: #FFF;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	padding-bottom: 15px;
}

ul.slides a {
    margin-left: 12px;
    padding: 11px 22px 13px;
	text-transform: uppercase;
    line-height: 46px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #F7781E;
	margin-top: 15px;
}

#content {
	padding: 150px 15% 25px 15%;
}

#content h2 {
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	text-align: center;
	color: rgba(64,64,64,1.0);
	font-size: 36px;
}

.content {
	position: relative;
	padding-top: 175px;
	padding-left: 250px;
	padding-right: 150px;
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 300;
	background-color: #f9f9f9;
	padding-bottom: 50px;
}

.content h2 {
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	font-size: 36px;
	color: #00677A;
	padding-bottom: 15px;
}

.content h3 {
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #00677A;
	padding-bottom: 25px;
}

.content.orange h2, .content.orange h3 {
    color: #F7781E;
}

.docsWidget {
	position: relative;
	float: left;
	width: 20%;
	padding-right: 25px;
}

.docsWidget h4 {
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	display: block;
	height: 40px;
	margin-bottom: 10px;
}

.docsWidget h4 a {
	border-left: 2px solid #F7781E;
	color: #F7781E;
	padding-left: 25px;
	padding-bottom: 10px;
    padding-top: 10px;
}

.content.orange h4 a {
    color: #00677A;
	border-left: 2px solid #00677A;
}

.docsWidget.red a:hover {
	color: #e53b30;
}

.docsWidget.blue a:hover {
	color: #006892;
}

.docsWidget.grey a:hover {
	color: #666;
}

.docsWidget.green a:hover {
	color: #a09b25;
}

.docsWidget a {
	display: block;
	padding-left: 27px;
	padding-top: 15px;
}

div#apps-platform {
	position: relative;
	padding: 80px 14% 30px 15%;
	text-align: center;
	background-color: #f9f9f9;
}

div.build {
	position: relative;
	float: left;
	width: 48%;
	margin-right: 2%;
	padding-bottom: 15px;
	text-align: center;
}

div.build img {
	width: 30%;
	margin-bottom: 25px;
}

div.build h5 {
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	font-size: 36px;
	padding-bottom: 20px;
}


.bluegrey {
	color: #6a8e9a;
}

.teal {
	color: #00687a;
}

div.build a.usecase01-bg {
	background: url('../images/slide_02.jpg') center no-repeat;
	background-size: cover;
}

div.build a.usecase02-bg {
	background: url('../images/slide_02.jpg') center no-repeat;
	background-size: cover;
}

div.build a.usecase03-bg {
	background: url('../images/slide_02.jpg') center no-repeat;
	background-size: cover;
}

div#usecases {
	position: relative;
	padding: 1% 14% 0 15%;
}

div.usecase {
	position: relative;
	float: left;
	width: 32%;
	margin-right: 1%;
	padding-bottom: 15px;
}

div.usecase h5 {
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	font-size: 18px;
    color: #F7781E;
}

div.usecase a.usecase01-bg {
	background: url('../images/slide_02.jpg') center no-repeat;
	background-size: cover;
}

div.usecase a.usecase02-bg {
	background: url('../images/slide_02.jpg') center no-repeat;
	background-size: cover;
}

div.usecase a.usecase03-bg {
	background: url('../images/slide_02.jpg') center no-repeat;
	background-size: cover;
}

.button {
	display: inline-block;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    background-color: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #FFF;
    font-size: 18px;
    margin-top: 15px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.button.orange {
    color: #F7781E;
    border: 1px solid #F7781E;
}

.button.orange:hover {
    color: #FFF;
    background-color: #F7781E;
}

.button.teal {
    color: #00687a;
    border: 1px solid #00687a;
}

.button.teal:hover {
    color: #FFF;
    background-color: #00687a;
}

/*******************
 *     FOOTER      *
 *******************/
 
#footer {
	position: relative;
	width: 80%;
	padding-left: 250px;
	background-color: #FFF;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	
}

/*******************
 * DOXYGEN CONTENT *
 *******************/

.contents div.title {
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	font-size: 36px;
	color: #00677A;
	padding-bottom: 15px;
}

.contents h1 {
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	font-size: 24px;
	color: #00677A;
	padding: 15px 0px 10px 0px;
}

.contents p {
	margin: 0;
	padding: 0;
}

.contents a {
	color: #00AEAF;
	border-bottom: 1px dashed #00AEAF;
}

.contents a:hover {
	color: #00ffff;
	border-bottom: 1px dashed #00ffff;
}

.contents hr {
	display: none;
}

