/*============================================================ 
                        CSS OVERVIEWS
                1. Desktop Wide Screen
                2. Tablet
                3. Mobile

============================================================*/
/*===================== variable ===================== */
/* ============================================================ 
    1. Wide Screen
=============================================================*/
@media only screen and (max-width: 1360px) {
  .line-wrap,
  #line-page-body #line-load-ajax {
    width: 980px;
  }
}
@media only screen and (max-width: 1200px) {
  
   header {
   width: 90%;
   }
  .line-wrapall {
    width: 100%;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
  #line-page-body .line-text h3 {
    margin-top: -25px;
  }
  .line-wrap {
    width: 100%;
    padding: 0 20px;
  }
  .line-wrap.line-row {
    padding: 0;
  }
  #line-header {
    text-align: center;
  }
  #line-header .line-logo img {
  }
  #line-header .line-logo {
    text-align: left;
  }
  #line-header.line-fixed {
    padding: 10px 0;
  }
  #line-header.line-fixed .line-logo {
    top: 9px;
  }
  #line-header.active .line-menu {
    right: 0;
	z-index: 75;
  }
  #line-header.active .line-icon-menu {
    display: none;
  }
  #line-header.active .line-icon-menu-x {
    display: block;
    right: 199px;
  }
  #line-header .line-logo {
    left: 20px;
	top: 29px;
  }
  #line-header .line-social {
    position: static;
    display: inline-block;
  }
  #line-header .line-icon-menu {
    display: block;
  }
  #line-header .line-menu {
    position: fixed;
    top: 0;
    right: -200px;
    background: #0c1d33;
    width: 200px;
    height: 100%;
    overflow: auto;
    padding: 10px;
    border-left: 1px solid #0c1d33;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }
  #line-header .line-menu li {
    padding: 0;
    display: block;
  }
  #line-header .line-menu li a {
    display: block;
    padding: 10px 0;
    text-align: left;
	color: #fff;
  }
  #line-header .line-menu li.parent {
    position: static;
  }
  #line-header .line-menu li.parent .sub-menu {
	display: none;
/*    visibility: visible;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    display: block\9;
    background: none;
    position: static;
    margin: 0 0 0 10px;
    border: none;
    width: auto;*/
  }
  #line-header .line-menu li.parent .sub-menu:after {
    display: none;
  }
  #line-header .line-menu li.parent .sub-menu li a {
    color: #ffffff;
  }
  #line-page-body #line-load-ajax {
    width: 100%;
  }
  #line-clients h2 {
    margin-bottom: 5px;
  }
  #line-clients a.line-btn {
  font-size: 13px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  margin: 0px 5px 15px 5px;
  height: 25px;
  line-height: 21px;
  padding: 0 20px;
  }
  #line-page-body #line-home .line-hello h1 {
  font-size: 36px;
  }
  #line-page-body #line-home .line-hello h2 {
    font-size: 48px;
  }
  #line-page-body #line-home .line-hello h3 {
    font-size: 24px;
  }
  #line-page-body #line-home .line-hello a.line-btn {
    font-size: 24px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
    font-weight: normal;
    margin: 15px 5px 15px 5px;
    height: 60px;
    line-height: 56px;
    padding: 0 40px;
  }
  .line-middle {
  top: 60%;
  }
}

/* ============================================================ 
    2. Tablet
=============================================================*/
@media only screen and (max-width: 768px) {
  #line-page-body #line-index-version img {
    display: none;
  }
  #line-page-body .line-has-sidebar .line-page-content,
  #line-page-body .line-has-sidebar .line-page-sidebar {
    width: 100%;
    float: none;
  }
  #line-page-body .line-has-sidebar.line-sidebar-right .line-page-content,
  #line-page-body .line-has-sidebar.line-sidebar-left .line-page-content,
  #line-page-body .line-has-sidebar.line-sidebar-right .line-page-sidebar,
  #line-page-body .line-has-sidebar.line-sidebar-left .line-page-sidebar {
    padding: 0;
  }
  #line-page-body .line-has-sidebar .line-page-sidebar {
    margin-top: 50px;
  }
  #line-page-body .line-countdown > div {
    font-size: 36px;
    padding: 0 10px;
  }
  #line-page-body .line-section {
  padding-top: 25px;
  }
  .line-parallax {
    background-size: cover;
    background-attachment: scroll;
  }
  #line-page-body .line-text .line-portfolio img {
    float: none;
    width: 100%;
	margin-left: 0;
	margin-bottom: 5%;
  }
  #stadiumMap {
	width: 100%;
  }
  .line-btn, input[type="submit"], button[type="submit"] {
    padding: 0 20px;
  }
  .line-btn.big, input[type="submit"].big, button[type="submit"].big {
    padding: 0 50px;
  }
  #line-header .line-logo {
	left: 10px;
	top: 32px;
  }
  #line-header .line-logo img {
	width: 150px;
  }
  #line-clients h2 {
    display: none;
  }
  #line-clients a.line-btn {
  margin: 0px 16px 10px 16px;
  }
  #line-page-body #line-home .line-hello h1 {
  font-size: 24px;
  }
  #line-page-body #line-home .line-hello h2 {
    font-size: 36px;
  }
  #line-page-body #line-home .line-hello h3 {
    font-size: 18px;
  }
  #line-page-body #line-home .line-hello a.line-btn {
    font-size: 18px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
    font-weight: normal;
    margin: 15px 5px 15px 5px;
    height: 60px;
    line-height: 56px;
    padding: 0 40px;
  }
  .line-middle {
  top: 80%;
  }
}
/* ============================================================ 
    3. Mobile
=============================================================*/
@media only screen and (max-width: 568px) {
  #line-page-body #line-subscribe .line-btn {
    padding: 0;
    width: 45%;
    font-size: 14px;
  }
  #line-page-body #line-subscribe .line-input {
    font-size: 16px;
    width: 55%;
    width: 50%\9;
  }
  #line-page-body .line-countdown > div {
    font-size: 24px;
    padding: 0 10px;
  }
  .line-column {
    float: none;
  }
  .line-column.line1,
  .line-column.line2,
  .line-column.line3,
  .line-column.line4,
  .line-column.line5,
  .line-column.line6,
  .line-column.line7,
  .line-column.line8,
  .line-column.line9,
  .line-column.line10,
  .line-column.line11,
  .line-column.line12 {
    width: 100%;
    margin-bottom: 20px;
  }
  /** Column **/
  .one-half,
  .one-third,
  .two-third,
  .three-fourth,
  .one-fourth {
    float: none;
    margin: 0;
    margin-bottom: 40px;
    width: 100%;
  }
  .one-half.line-has-border:after,
  .one-third.line-has-border:after,
  .two-third.line-has-border:after,
  .three-fourth.line-has-border:after,
  .one-fourth.line-has-border:after {
    display: none;
  }
  [class*="line-col-"] article,
  [class*="line-col-"] li,
  [class*="line-col-"] .line-col {
    width: 100%;
  }
  /** line-promobox **/
  .line-promobox.has-button .line-promocontent {
    margin: 0;
  }
  .line-promobox .line-promobutton .line-btn {
    position: static;
    margin: 20px 0 0 0;
  }
  /** tabs **/
  .line-tabs .line-filter-tabs {
    border: none;
  }
  .line-tabs .line-filter-tabs li {
    float: none;
  }
  .line-tabs .line-filter-tabs li a {
    display: block;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin-bottom: 10px;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
  .line-tabs .line-filter-tabs li a.selected {
    border: 2px solid #000000;
  }
  .line-tabs .line-filter-tabs li a.selected:after {
    display: none;
  }
  /** table **/
  table.line-table {
    display: block;
    border: 2px solid #e6e6e6;
  }
  table.line-table thead {
    float: left;
    display: block;
  }
  table.line-table thead tr {
    display: block;
  }
  table.line-table thead tr.header th {
    display: block;
  }
  table.line-table tbody {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  table.line-table tbody tr {
    border-right: 1px solid #e6e6e6;
    display: table-cell;
    vertical-align: top;
  }
  table.line-table tbody tr:last-child {
    border-right: none;
  }
  table.line-table tbody tr td {
    display: block;
  }
  table.line-table tbody tr td:last-child {
    border-bottom: none;
  }
  table.line-table.line-style1 thead tr th {
    background: #f2f2f2;
  }
  table.line-table.line-style2 tbody tr {
    border-right: none;
  }
  table.line-table.line-style2 tbody tr:nth-child(2n) {
    background: #ffffff;
  }
  table.line-table.line-style2 tbody tr:nth-child(2n) td:nth-child(2n) {
    background: #f2f2f2;
  }
  table.line-table.line-style2 tbody tr:nth-child(2n + 1) {
    background: #f2f2f2;
  }
  table.line-table.line-style2 tbody tr:nth-child(2n + 1) td:nth-child(2n) {
    background: #ffffff;
  }
  .line-pricing-table .pricing-table-wrap {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  /**Woo**/
  .woocommerce p.woocommerce-result-count,
  .woocommerce-page p.woocommerce-result-count,
  .woocommerce .woocommerce-ordering,
  .woocommerce-page .woocommerce-ordering {
    float: none;
    width: 100%;
    text-align: center;
  }
  .woocommerce div.product .images,
  .woocommerce-page div.product .images,
  .woocommerce div.product .summary,
  .woocommerce-page div.product .summary {
    width: 100%;
    padding: 10px 0;
    float: none;
    display: inline-block;
  }
}
