
        	<h2>Build Apps</h2>
            <h3>Legato is an open source embedded platform built on Linux designed to simplify embedded IoT development.</h3>
            Legato has everything you need to connect the IoT fast:<br />
            Programming language APIs — dev tools and APIs to easily write software components and specify how apps will use them.<br />
            Target runtime environment — set of daemon processes cooperatively implement execution sandboxes, secure IPC, fault monitoring.<br />
            Development and build tools — target, host, and build tools to create apps ready for deployment to your devices.<br />
            Documentation and automated tests — a raft of docs and automated tests ready to use. Legato online docs are also available in a <a href="#">PDF doc</a>.
            <br /><br />
            <h3>This is how the docs are organized:</h3>
            <div class="docsWidget">
            	<h4 class=""><a href="downloads.html">Get Started</a></h4>
                <a href="#">Hardware Platform</a>
            </div>
            <div class="docsWidget">
            	<h4 class=""><a href="/apps/docs">Documentation</a></h4>
                <a href="#">Learn</a>
                <a href="#">API Guides</a>
                <a href="#">Tools</a>
                <a href="#">Reference</a>
            </div>
            <div class="docsWidget">
            	<h4 class=""><a href="community.html">Community</a></h4>
                <a href="#">Forum</a>
                <a href="#">Social Network</a>
                <a href="#">Become a Partner</a>
            </div>
            <div class="docsWidget">
            	<h4 class=""><a href="prototyping-tools.html">License</a></h4>
                <a href="#">Application Framework license</a>
            </div>
            <br clear="left" />
