@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,300italic,400,400italic,500,500italic,');

/*******************
 *     GLOBAL     *
 *******************/

 html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    color: rgb(120,120,120);
    text-rendering: optimizeLegibility;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 400;
    background-color: #FFF;
}

a {
    text-decoration: none;
    outline: none;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: #F7781E;
}

a img {
    border: none;
}

#menudocumentation table, #menudocumentation h1, #menudocumentation h2,#menudocumentation  h3, #menudocumentation h4, #menudocumentation h5, #menudocumentation ul, #menudocumentation li,#menudocumentation  form {
    margin: 0;
    padding: 0;
}
table{
    border-spacing: 2em 0.5em;
    color:#6A8E9A;
}
td.memname a{
    padding-right:1em;
}
tr{
        text-align: left;
}
ul, li {
  
    list-style-type: circle;
}


/******************
 *     COMMON     *
 ******************/

 div.wrapper {
    position: relative;
    z-index: 1;
}


/******************
 *      TOP       *
 ******************/

 #menu-trigger {
    display: block;
    position: fixed;
    top: 30px;
    left: 60px;
    color: #04373F;
    font-size: 36px;
    z-index: 1000;
}

#menu-trigger.documentation {
    top: 15px;
    left: 25px;
    font-size: 18px;
}

#menu-trigger:hover {
    color: #6a8e9a;
}

#top {
    position: fixed;
    top: 0px;
    left: -250px;
    width: 250px;
    z-index: 900;
    height: 100%;
    background-color: #FFF;
    transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -webkit-transition: left 0.5s ease-in-out;
        box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

#top.menu-open {
    left: 0px;
}

#top header {
    margin: auto;
    position: relative;
    padding-top: 75px;
}

#mainmenu {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 10;
}

div#mainmenu.transparent {
    background-color: transparent;
}

div#mainmenu.white {
    background-color: white;
}

#mainmenu ul {
    position: absolute;
    top: 8px;
    right: 4%;
    height: 50px;
    padding-top: 25px;
}

#mainmenu ul li {
    display: inline-flex;
}

#mainmenu ul li a {
    display: inline-flex;
    color: black;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
    padding: 9px 25px 39px 25px; 
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-left: -4px;
}

#mainmenu ul li a:hover {
    border-bottom: 2px solid #F7781E;
    color: #F7781E;
}

#mainmenu ul li a.selected {
    border-bottom: 2px solid #00687a;
    color: #00687a;
}

#mainmenu h1 a {
    position: absolute;
    left: 150px;
    text-indent: -9000px;
    top: 29px;
    width: 200px;
    height: 60px;
    background: url('../images/legato_logo.png') no-repeat 0px 0px;
    background-size: 200px;
    border: none;
    z-index: 100;
}

img.logo {
    position: absolute;
    top: 25px;
    left: 10%;
    z-index: 15;
}

nav {
    position: static;
    right: 0px;
    top: 28px;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 400;
}

nav a.navlink {
    color: #F7781E;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 0px 5px 20px; 
    display: block;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

nav a.subnavlink {
    color: rgba(0,0,0,0.5);
    font-size: 13px;
    text-transform: uppercase;
    padding: 0px 0 5px 40px; 
    display: block;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

nav a:hover {
    border-bottom: 3px solid #fff;
}

#menudocumentation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 600;
    height: 50px;
}

#menudocumentation.teal {
    background-color: #00AEAF;
}


#menudocumentation.orange {
    background-color: #F7781E;
}

#menudocumentation header {
    position: relative;
}

#menudocumentation header h1 a {
    position: absolute;
    left: 70px;
    text-indent: -9000px;
    top: 12px;
    width: 128px;
    height: 82px;
    background: url("../images/legato_logo-teal.png") no-repeat 0px 0px;
    background-size: 128px;
    border: none;
}

#menudocumentation header h2 {
    position: absolute;
    left: 220px;
    top: 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 21px;
    color: #FFF;
    border: none;
    z-index: 100;
}

#menudocumentation nav {
    position: absolute;
    top: -23px;
    right: 100px;
    height: 50px;
    padding-top: 35px;
    color: #FFF;
}

#menudocumentation nav a {
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 400;
    height: 26px;
    text-transform: uppercase;
    color: #00414d;
    font-size: 13px; 
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#menudocumentation nav a:hover, #menudocumentation nav a.link-selected {

}

.ui-autocomplete-loading { background:url('/resources/images/spinny.gif') no-repeat right center }

#searchresult .fa-search{
    font-size:1.4em;
    /*   -webkit-animation: spin 0.25s infinite linear; */
}


@-webkit-keyframes spin {
    from {
        transform: rotate(0deg)
        translate(-8px)
        rotate(0deg);
    }
    to {
        transform: rotate(360deg)
        translate(-8px) 
        rotate(-360deg);
    }
}

#menudocumentation nav input#autocomplete {
    background-color: transparent;
    border: none;
    border-bottom: white solid 2px;
    height: 1.5em;
    font-size:150%;
    padding-left: 15px;
    width: 12em;
    color:white;
}
#menudocumentation nav input#autocomplete:focus{
    outline: none;
}
/* shifted off screen for screen readers I guess */
.ui-helper-hidden-accessible { position: absolute; left:-999em; }

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
    opacity:  0.8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity:  0.8;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
    opacity:  0.8;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
 opacity:  0.8;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: white;
    opacity:  0.8;
}
#menudocumentation nav label {
    text-transform: uppercase;
    font-size: 11px;
    color: #00677A;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 400;
}

#menudocumentation nav .ui-widget-content {
    border: none;
}

#menudocumentation nav ul#search_result {
    display: block;
    width: 200px;
    top: 58px;
    left: 425px;
    position: absolute;
    margin-top: 3px;
    overflow: auto;
    background:#FFF;
    color:#00677A;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);

}

#menudocumentation nav ul#search_result a {
    display:inline;
    font-size: 12px;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 400;
    
}

#menudocumentation nav ul#search_result li.ui-state-focus, #menudocumentation nav ul#search_result li:hover{
  border-left: #00687a solid 3px;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -o-transition: all 0s;
  -ms-transition: all 0s;
  transition: all 0s;
  padding-left:12px; /* to account for 3 px border */
color: #00AEAF;
}


#menudocumentation nav ul#search_result li {
    padding: 5px 10px 5px 15px;


}

#menudocumentation nav a:hover, nav a.link-selected, nav a.ui-state-focus {
    border-bottom: 2px solid rgba(255,255,255,0.75);
    font-weight: bold;
    /* color: rgba(255,255,255,0.75); wtf? */ 
}

.wrapper.homepage nav {
    position: absolute;
    top: 25px;
    right: 100px;
    height: 50px;
    padding-top: 35px;  
}

.wrapper.homepage nav a {
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 400;
    height: 50px;
    text-transform: uppercase;
    color: #00677A;
    font-size: 13px; 
    padding: 9px 20px 18px 20px; 
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#topMenu {
    position: absolute;
    top: 0.8em;
    left: 0;
    width: 100%;
    z-index: 400;
    height: 100px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

#topMenu.teal {
    background-color: #00677A;
}

#topMenu.orange {
    background-color: #6a8e9a;
}

#topMenu h2 {
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 300;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,1);
    padding-left: 205px;
    padding-top: 15px;
}

#topMenu nav {
    position: absolute;
    top: 25px;
    left: 190px;
    height: 50px;
    padding-top: 35px;      
}

#topMenu nav a {
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 400;
    height: 50px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.75);
    font-size: 13px; 
    padding: 9px 20px 18px 20px; 
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#topMenu nav a:hover, #topMenu nav a.link-selected {
    border-bottom: 2px solid #fff;
    color: rgba(255,255,255,1);
}

/*******************
 *      LEFT       *
 *******************/
 
 #left {
    height: calc(100% - 140px);
    position: fixed;
    top: 0;
    width: 300px;
    z-index: 200;
    padding: 0 30px 150px 10px;
    font-size: 14px;
    overflow: scroll;
    box-shadow: -1px 0px 8px 10px rgba(0,0,0,.07) inset;
}
#tree1{
    padding-top:110px;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.flexslider {
    height: 500px;
}

ul.slides {
    background: #00687a;
    height: 500px;
    text-align: center;
}

li.slide_01 {
    background: url('../images/slide_02.jpg') center no-repeat;
    background-size: cover;
    height: 500px;
}
li.slide_02 {
    background: url('../images/slide_02.jpg') center no-repeat;
    background-size: cover;
    height: 500px;
}
li.slide_03 {
    background: url('../images/slide_03.jpg') center no-repeat;
    background-size: cover;
    height: 500px;
}

ul.slides h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 48px;
    padding-top: 150px;
    color: #FFF;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

ul.slides h4 {
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFF;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    padding-bottom: 15px;
}

ul.slides a {
    margin-left: 12px;
    padding: 11px 22px 13px;
    text-transform: uppercase;
    line-height: 46px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #F7781E;
    margin-top: 15px;
}

#content {
    padding: 150px 15% 25px 15%;
}

#content h2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    text-align: center;
    color: rgba(64,64,64,1.0);
    font-size: 36px;
}

.content {
    position: relative;
    padding-top: 135px;
    padding-left: 400px;
    padding-right: 150px;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 400;
    background-color: white;
    color: #464646;
    padding-bottom: 50px;
        line-height: 1.4;
}
.params>dt, .return>dt {
    font-weight: bold;
    font-size: 16px;
    color: #6A8E9A;
    padding-left: 2em;
}
.content h2{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 24px;
    color: #F7781E;
    padding-bottom: 15px;
}
 .content h1{
font-size:30px;
        color: #00677A;
            font-weight: 400;
    }  
h1.title{
    font-weight:600;
}
.content h3 {
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #00677A;
    padding-bottom: 25px;
}

.content.orange h2, .content.orange h3 {
    color: #F7781E;
}

.docsWidget {
    position: relative;
    float: left;
    width: 20%;
    padding-right: 25px;
}

.docsWidget h4 {
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: block;
    height: 40px;
    margin-bottom: 10px;
}

.docsWidget h4 a {
    border-left: 2px solid #F7781E;
    color: #F7781E;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.content.orange h4 a {
    color: #00677A;
    border-left: 2px solid #00677A;
}

.docsWidget.red a:hover {
    color: #e53b30;
}

.docsWidget.blue a:hover {
    color: #006892;
}

.docsWidget.grey a:hover {
    color: #666;
}

.docsWidget.green a:hover {
    color: #a09b25;
}

.docsWidget a {
    display: block;
    padding-left: 27px;
    padding-top: 15px;
}

div#apps-platform {
    position: relative;
    padding: 80px 14% 30px 15%;
    text-align: center;
    background-color: #f9f9f9;
}

div.build {
    position: relative;
    float: left;
    width: 48%;
    margin-right: 2%;
    padding-bottom: 15px;
    text-align: center;
}

div.build img {
    width: 30%;
    margin-bottom: 25px;
}

div.build h5 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 36px;
    padding-bottom: 20px;
}
p.copyright{
    margin-top: 6em;
    font-size:13px;

        opacity: 0.6;
}
.note{
    color: #6a8e9a;
background:rgba(106, 142, 154,0.1);
}
.warning{
    color: #F7781E;
    background: rgba(247, 120, 30, 0.1);

}
.warning > dt:before{
    font-weight: normal;
     content: "\f071";
     padding-right:0.5em;
    font-family: FontAwesome;
}
.note>dt, .warning>dt{
    font-weight:bold;
    padding:0.5em;
}
.note > dt:before{
    font-weight: normal;
     content: "\f06a";
     padding-right:0.5em;
    font-family: FontAwesome;
}
.note, .warning{
        display: inline-block;
    padding:1em;
        padding-right: 1.5em;
    padding-top:0.2em;
}
.bluegrey{
    color: #6a8e9a;
}

.teal {
    color: #00687a;
}

div.build a.usecase01-bg {
    background: url('../images/slide_02.jpg') center no-repeat;
    background-size: cover;
}

div.build a.usecase02-bg {
    background: url('../images/slide_02.jpg') center no-repeat;
    background-size: cover;
}

div.build a.usecase03-bg {
    background: url('../images/slide_02.jpg') center no-repeat;
    background-size: cover;
}

div#usecases {
    position: relative;
    padding: 1% 14% 0 15%;
}

div.usecase {
    position: relative;
    float: left;
    width: 32%;
    margin-right: 1%;
    padding-bottom: 15px;
}

div.usecase h5 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 18px;
    color: #F7781E;
}

div.usecase a.usecase01-bg {
    background: url('../images/slide_02.jpg') center no-repeat;
    background-size: cover;
}

div.usecase a.usecase02-bg {
    background: url('../images/slide_02.jpg') center no-repeat;
    background-size: cover;
}

div.usecase a.usecase03-bg {
    background: url('../images/slide_02.jpg') center no-repeat;
    background-size: cover;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    background-color: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #FFF;
    font-size: 18px;
    margin-top: 15px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.button.orange {
    color: #F7781E;
    border: 1px solid #F7781E;
}

.button.orange:hover {
    color: #FFF;
    background-color: #F7781E;
}

.button.teal {
    color: #00687a;
    border: 1px solid #00687a;
}

.button.teal:hover {
    color: #FFF;
    background-color: #00687a;
}

/*******************
 *     FOOTER      *
 *******************/
 
 #footer {
    /*
    position: relative;
    width: 80%;
    padding-left: 250px;
    background-color: #FFF;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    */

}

/*******************
 * DOXYGEN CONTENT *
 *******************/
 code{
    font-size:14px;
 }
.contents {
    max-width: 70%;
}
 .contents div.title {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 36px;
    color: #00677A;
    padding-bottom: 15px;
}

.contents h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 30px;
    color: #00677A;
    padding: 15px 0px 10px 0px;

}
.contents td.memname {
    font-weight: 600;
    font-size: 110%;
}
.contents p {
    /*
    margin: 0;
    padding: 0;
*/}

.contents a {
      -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -o-transition: all 0s;
  -ms-transition: all 0s;
  transition: all 0s;
    color: #00AEAF;
    /*border-bottom: 1px dashed #00AEAF;*/
}

.contents a:hover {
    color: #43E6E6;
    border-bottom: 1px dashed #00ffff;
}

.contents hr {
    display: none;
   /*margin-top:5em; */
}

div.fragment{
    font-family: monospace;
    white-space: pre;
    padding-left: 1em;
    padding-top:1em;
    padding-bottom: 1em;
           font-size:15px;
}
pre.fragment{
    font-size: 15px;
    padding: 0.7em;
    background: rgba(130, 130, 130, 0.1);
    overflow: auto;
}
.memproto>table.memname
{
    padding: 0.7em;
    background: rgba(130, 130, 130, 0.1);
}
.memitem{
    margin-bottom:3.5em;
}
/* SYNTAX HIGHLIGHTING */
span.keyword {
    color: #008000;
}

span.keywordtype {
    color: #445588;
    font-weight: bold;
}

span.keywordflow {
    color: #e08000
}

span.comment {
    color: rgb(153, 153, 136);
    font-style: italic;
}

span.preprocessor {
    color: #847a00;
}

span.stringliteral {
    color: #dd1144;
}

span.charliteral {
    color: #008080
}

span.vhdldigit {
    color: #ff00ff
}

span.vhdlchar {
    color: #000000
}

span.vhdlkeyword {
    color: #700070
}

span.vhdllogic {
    color: #ff0000
}
