[Desktop Entry]
Encoding=UTF-8
Name=Link to https://www.kvaser.com/wp-content/uploads/canland/associates/9791-dunasys_logo-ORIGINAL.png
Type=Link
URL=https://www.kvaser.com/wp-content/uploads/canland/associates/9791-dunasys_logo-ORIGINAL.png
Icon=text-html
