body {
	overflow: auto;
	font-family: arial, sans;
	font-size: 13px;
	color: #666;
	background: url(../images/menu_bg.png) top left repeat-y;
}

b {
	font-weight: bold;
}

#container {
	position:relative;
	height: 100%;
}

#header {
	background: url(../images/header_bg.png) top left repeat-x;
	height: 112px;
	width: 100%;
	position: fixed;
	top : 0;
	left: 0;
	z-index: 3;
}

#header h2 {
	color: #e53b30;
	font-size: 32px;
	height: 37px;
	position: absolute;
	overflow: hidden;
	top: 26px;
	right: 30px;
	z-index: 4;
	letter-spacing: -1px;
	text-shadow: 1px 1px #000;
}

#header h3 {
	color: #999;
	font-size: 21px;
	height: 37px;
	position: absolute;
	overflow: hidden;
	top: 57px;
	right: 30px;
	z-index: 4;
	letter-spacing: -1px;
	text-shadow: 1px 1px #000;
}

#logo {
	background: url(../images/header_logo.png) top left no-repeat;
	height: 37px;
	width: 192px;
	position: absolute;
	overflow: hidden;
	top : 32px;
	left: 45px;
	z-index: 4;
}

ul#navigation {
    position: absolute;
    right: 30px;
    top: 28px;
	height: 43px;
	text-align: center;
	font-size: 9px;
	display: none;
}

ul#navigation li {
    float: left;
}

ul#navigation li a {
    float: left;
    height: 43px;
    color: #666;
	margin-right: 25px;
	text-decoration: none;
	/*padding-top: 57px;
	white-space: nowrap;*/
	text-indent: -9000px;
}

ul#navigation li a.hardware {
    width: 66px;
	background: url(../images/header_navigation_hardware.png) top center no-repeat;
}

ul#navigation li a.firmware {
    width: 75px;
	background: url(../images/header_navigation_firmware.png) top center no-repeat;
}

ul#navigation li a.aaf {
    width: 75px;
	background: url(../images/header_navigation_aaf.png) top center no-repeat;
}

ul#navigation li a.ide {
    width: 41px;
	background: url(../images/header_navigation_ide.png) top center no-repeat;
}

#menu {
	/*background: url(../images/menu_bg.png) top right repeat-y;*/
	top : 100px;
	left: 0;
	width: 225px;
	z-index: 2;
	padding: 30px 30px 30px 45px;
	line-height: 24px;
	position: absolute;
}

#menu h1 a {
	color: #888;
	text-decoration: none;
	font-size: 20px;
	letter-spacing: -1px;
	font-weight: bold;
	padding-bottom: 15px;
	display: block;
}

#menu h2 a {
	color: #999;
	text-decoration: none;
}

#menu h3 a {
	color: #CCC;
	text-decoration: none;
	padding-left: 15px;
}

#menu h4 a {
	color: #FFF;
	text-decoration: none;
	padding-left: 30px;
}

#content {
	margin-top: 112px;
	margin-left: 300px;
	background: #FFF;
	right: 0;
	bottom: 0;
	z-index: 2;
	padding: 30px;
	line-height: 24px;
}

#content table {
	border: 0;
	margin-bottom: 30px;
	border-collapse: separate;
	border-spacing: 1;
}

#content table th {
	height: 15px;
	padding: 15px;
	color: #fff;
	background-color: #888;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: -1px;
}

#content table th:first-child {
	background-color: #777;
	border-left: 3px solid #e53b30;
}

#content table th:last-child {
	background-color: #999;
}

#content table td {
	padding: 15px;
	background-color: #eee;
}

#content table td:first-child {
	background-color: #e9e9e9;
	font-weight: bold;
}

#content table td:last-child {
	background-color: #F2F2F2;
}

#content a {
	color: #e53b30;
	border-bottom: 1px dashed #e53b30;
	text-decoration: none;
}

#content ul {
    list-style: none;
    padding:0;
    margin:0;
}

#content li {
	padding-left: 30px;
}

#content li:last-child {
	padding-bottom: 30px;
}

#content li:before {
	content:'\2022';
	color: #e53b30;
	display: block;
    position: relative;
    max-width: 0px;
    max-height: 0px;
    left: -15px;
    top: -0px;
}

#content span#content_title {
	color: #e53b30;
	font-size: 30px;
	padding-bottom: 30px;
	display: block;
	letter-spacing: -1px;
}

#content h1 {
	color: #e53b30;
	font-size: 20px;
	border-bottom: 1px solid #c6cbcf;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-bottom: 30px;
	letter-spacing: -1px;
}

#content h2 {
	color: #e53b30;
	font-size: 15px;
	padding-bottom: 10px;
	letter-spacing: -1px;
}

#content h3 {
	color: #e53b30;
	text-decoration: none;
	font-size: 13px;
	padding-bottom: 5px;
	letter-spacing: -1px;
}

#content p, #content pre {
	padding-bottom: 15px;
}

#content pre.documentation_code {
	font-family:"Courier New", Courier, monospace;
	padding: 15px;
	background-color: #f2f2f2;
	border-top: 1px dashed #ccc;
	border-right: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	border-left: 3px solid #ccc;
/*	-moz-border-radius: 5px;
	border-radius: 5px;*/
	margin-bottom: 15px;
}

#content div.documentation_warning {
	padding: 15px;
	background-color: #ffcccc;
	color: #CC0000;
	border-top: 1px dashed #CC0000;
	border-right: 1px dashed #CC0000;
	border-bottom: 1px dashed #CC0000;
	border-left: 3px solid #CC0000;
	/*-moz-border-radius: 5px;
	border-radius: 5px;*/
	margin-bottom: 15px;
}

#content div.documentation_information {
	padding: 15px;
	background-color: #e8e8ff;
	color: #6699CC;
	border-top: 1px dashed #6699CC;
	border-right: 1px dashed #6699CC;
	border-bottom: 1px dashed #6699CC;
	border-left: 3px solid #6699CC;
	/*-moz-border-radius: 5px;
	border-radius: 5px;*/
	margin-bottom: 15px;
}

* html #content {
	height: 100%;
}